DATABASE_URL=ATABASE_URL="postgresql://neondb_owner:npg_A4I3BlDeykQu@ep-solitary-paper-ad3jplu1-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_SECRET=
NEXTAUTH_URL=
