# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
logs/

# env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors / caches
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.eslintcache
.turbo

# prisma (cache)
.prisma/

# generated (你自訂的輸出位置)
src/generated/prisma

# docker 本地資料（如果你在 repo 內掛了 volume）
infra/pgdata/
